---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Background from '../components/Background.astro';
import About from '../components/About.astro';
import './_index.css';
---

<Layout>
  <div class="page-with-background" x-data="backgroundParallax()">
    <Background class="page-with-background__layer" />
    <Navbar />
    <main class="page-content">
      <About />
    </main>
    <Footer />
  </div>
</Layout>