---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Background from '../components/Background.astro';
import Home from '../components/Home.astro';
import './index.css';
---

<Layout>
  <div class="page-with-background">
    <Background class="page-with-background__layer" />
    <Navbar />
    <main class="page-content">
      <Home />
    </main>
    <Footer />
  </div>
</Layout>
